- hosts: prod
  become: true
  pre_tasks:
    - name: Load variant vars (env_variant=agrad|salehi)
      include_vars: "group_vars/prod{{ '_salehi' if env_variant == 'salehi' else '' }}.yml"
      tags: ["always"]
  roles:
    - common
    - postgres
    - backend
    - frontend
    - ssl_arvan
    - nginx
