DATABASE_URL={{ database_url }}
SECRET_KEY={{ secret_key }}
ACCESS_TOKEN_EXPIRE_MINUTES=60
DIALER_TOKEN={{ dialer_token }}
MAX_BATCH_SIZE=500
DEFAULT_BATCH_SIZE=100
TIMEZONE=Asia/Tehran
SKIP_HOLIDAYS=true
CORS_ORIGINS={{ cors_origins | to_json }}
