[Unit]
Description={{ project_name }} gunicorn
After=network.target

[Service]
User={{ project_user }}
WorkingDirectory={{ backend_dir }}
EnvironmentFile={{ env_file }}
ExecStart={{ venv_path }}/bin/gunicorn -k uvicorn.workers.UvicornWorker \
  --workers {{ gunicorn_workers }} --bind {{ gunicorn_bind }} {{ gunicorn_module }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
